.row {
    margin:0 !important;
}
.container-fluid {
    padding:0 !important;
    margin:0;
    height: 100%;
    width:100%;
}


#wd-nav-bar {
    max-width: 80px;
    min-width: 75px;
    /* float: left; */
    margin:0;
    height:100vh;
    /* position:fixed; */
    background-color: black;
    width:100%;
    min-height:max(100vh, 605px);
    margin:0;
    padding: 5px 0px;
}




.wd-active-nav>.wd-nav-item {
    background-color: white;
}

.wd-nav-item-box {
    text-decoration: none;
}

.wd-nav-item-box .wd-nav-title {
    color: white;
    font-size: 9pt;
    text-decoration: none;
    text-align: center;
}

.wd-nav-item-box>.wd-nav-item {
    height: 60px;
    padding: 5px;
    /* display: flex;
    justify-content: center;; */
}

.wd-nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.wd-nav-icon i {
    max-width:80px;
    color:rgb(202,25,42);
    padding-bottom: 5px;
}

.fa-user#wd-account-icon{
    color: gray;
}


.fa-circle#wd-account-icon{
    color: white;
}

.wd-active-nav #wd-account-icon {
    color: gray;
}

.fa-question#wd-help-icon {
    font-size: 10pt;
}



#wd-nav-neu-logo {
    object-fit:contain;
    max-width:60px;
}

.wd-active-nav .wd-nav-title {
    color: rgb(202,25,42);
}

#wd-nav-list {
    padding:0 !important;
    margin:0 !important;
}

#wd-nav-list li {
    list-style: none;
    padding:auto;
    margin:0;
}

#wd-sub-nav-list, #wd-sub-nav-list-small {
    list-style: none;
    padding:0;
    width: 170px;
}

#wd-sub-nav-list>li, #wd-sub-nav-list-small>li {
    min-height: 30px;
    padding: 2px;
    margin:3px;
    font-size: 10pt;
    text-decoration:none; 
}

.wd-sub-item {
    font-size: 10pt;
    text-decoration:none; 
    color:rgb(202,25,42);
}

#wd-sub-nav {
    padding:0 10px;
    display:flex;
    flex-wrap:wrap;
    width:190px;
    flex: 0 0 190px;
    /* max-width: 200px; */
}

#wd-cancel-edit {
    flex: 0 0 150px;
}

.wd-profile-image {
    font-size: 40pt;
    color:gray;
    margin-bottom:10px;
}

#wd-sub-nav-list>li>a, #wd-sub-nav-list-small>li>a{
    text-decoration:none; 
}

.fa-bars, .fa-chevron-down {
    font-size:12pt;
    margin-right: 15px;
}

#wd-page-header {
    min-height: 40px;
    padding: 15px 0;
}

.wd-page-title-med {
    font-size: 11pt;
}

.wd-page-title-large {
    font-size: 20pt;
}

#wd-page-header hr, .wd-dash-subhead hr {
    margin: 15px 0 0 0;
    color:gray;
}


#wd-page-contents {
    padding:0 10px;
}

.big {
    height: 800px;
}

#wd-sub-nav-list .active, #wd-sub-nav-list-small .active{
    border-left: 2px solid black;
    padding-left: 3px;
    margin-left:0;
}

.active .wd-sub-item {
    color:black;
}

.wd-profile-content {
    display:flex;
    flex-direction:column;
    justify-content: left !important;
    flex: auto !important;
}

.wd-profile-name {
    font-size:15pt;
    margin:10px 0;
}

.wd-subheading {
    font-size: 14pt;
    margin-top: 15px;
}

.wd-paragraph {
    font-size: 11pt;
}

.wd-paragraph>a, .list-group-item a {
    color:rgb(202,25,42);
    text-decoration: none;
}

.list-group-item>a>i {
    font-size:9pt;
    margin-left:5px;
}



.wd-paragraph>.fa-link {
    color: gray;
    font-size: 8pt;
    margin-right: 2px;
}

.wd-paragraph .fa-external-link-alt {
    font-size: 8pt;
}

#wd-edit-profile>i {
    margin-right: 6px;
    font-size:9pt;
}

#wd-edit-profile {
    font-size:10pt;
}

.wd-sub-subheading {
    font-size: 11pt;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 10px;
}

#wd-profile-title, #wd-profile-bio {
    font-size: 10pt;
}

.wd-profile-edit-section {
    margin-bottom: 20px;
}

.flex-fixed-width-item {
    flex: 0 0 100px;
}

.wd-link-editing {
    display:flex;
    flex-wrap:wrap;
    flex-shrink: 0;
    width:100%;
    align-items: center;
    margin-bottom: 5px;
    height:fit-content;
}

.color-red {
    color:rgb(202,25,42);
}


.wd-side-margin-10 {
    margin: 0 10px;
}

.wd-dash-card {
    width: 260px;
    margin: 20px;
    padding:0;
}

.wd-dash-subhead .cards {
    max-width: 1300px;
}

.wd-card-box {
    width: 260px;
    height: 120px;
    margin:0;
    padding:0;
}

.wd-color-bg-teal {
    background-color:teal
}

.wd-color-teal {
    color:teal
}

.wd-color-bg-navy {
    background-color:navy
}

.wd-color-navy {
    color:navy
}

.wd-color-bg-gray {
    background-color:lightgray
}

.wd-color-gray {
    color:gray
}

.wd-color-black {
    color:black !important;
}

.wd-dash-card .card-title{
    font-size: 11pt;
    font-weight: bold;
    margin-bottom:5px;
}

.wd-dash-card .card-text {
    font-size: 11pt;
    font-weight:400;
    margin:0px;
}

.wd-dash-card .card-text>.fas {
    font-size: 9pt;
    margin:5px 0px;
}

.card>a {
    text-decoration:none;
    color:black;
}

.card>a:hover {
    text-decoration:underline;
    color:black;
}

#wd-page-header nav {
   --bs-breadcrumb-divider: '>';
   width:fit-content; 
}

.wd-module-subhead {
    padding-left: 16px;
    font-size: 13pt;
    font-weight:500 ;
    
}
.list-group {
    border-radius:0 !important;
}
.list-group-item {
    padding-left: 16px !important;
    border-radius:0 !important;
}

.wd-indent-module>li>.wd-indent {
    padding-left: 32px;
}

.wd-module {
    margin: 30px 0 !important;
}

.wd-module-button button, .wd-module-button select {
    margin: 0 2px;
}

.fa-ellipsis-v {
    font-weight:lighter;
    font-size: 9pt;
}

.wd-green {
    color:rgb(29, 194, 65);
}
.dropdown .fa-check-circle {
    margin-right: 9px;
}

#wd-module-container {
    padding-right: 30px;
}

.wd-ellipsis-end {
    font-size:11pt;
    padding: 0 12px;
}

#wd-double-ellipsis {
    font-size: 10pt;
    letter-spacing: -1px;
    padding-right: 5px;
}

.wd-pt-8 {
    padding-top: 8px;
}

.wd-border-green {
    border:none;
    border-left:2px solid rgb(29, 194, 65) !important;
}


#wd-course-status>div {
    width: 250px;
    margin-right:10px; 
}

#wd-course-status .btn {
    margin: 2px 0;
    text-align: left;
}

#wd-course-status label {
    text-align: center !important;
    flex-grow:1; 
}

.wd-round-left-6 {
    border-radius:6px 0 0 6px !important; 
}

.wd-round-right-6 {
    border-radius:0 6px 6px 0 !important; 
}

.wd-mb-15 {
    margin-bottom: 15px;
}

#wd-course-status .btn i {
    margin-right: 6px;
}

.wd-mt-4 {
    margin-top: 4px;
}


.wd-mb-4 {
    margin-bottom: 4px;
}
.wd-mt-15 {
    margin-top: 15px;
}

.wd-pl-16 {
    padding-left: 16px;
}

.wd-px-8 {
    padding: 0 8px;
}

.wd-mr-15 {
    margin-right: 15px;
}
.wd-font-10 {
    font-size: 10pt;
}

.wd-bg-black {
    background-color: black;
    color: white;
}

.wd-nav-hamburger {
   font-size: 16pt !important;
   font-weight: lighter;
    margin: 8px 20px;
}

#wd-nav-bar-small, .wd-sub-nav-list-small {
   width:100%;
    /* float: left; */
    margin:0;
    /* position:fixed; */
    background-color: white;
   
    padding: 5px 0px;
}

#wd-nav-bar-small .wd-nav-item {
    padding: 5px;
    display: flex;
    justify-content: start;
    color:rgb(202,25,42);
    margin-left: 40px;
}

#wd-nav-bar-small .wd-nav-title {
    display:flex;
   text-align: left !important;
   align-items: center;
color:rgb(202,25,42) !important;
font-size: 12pt;

}

#wd-nav-bar-small #wd-account-icon i {
    color:gray;
}

#wd-nav-bar-small .wd-nav-icon span i {
    margin-right: 25px
}

#wd-nav-bar-small #wd-studio-icon, #wd-nav-bar-small #wd-dashboard-icon {
    margin-right: 20px
}

#wd-nav-bar-small #wd-commons-icon, #wd-nav-bar-small #wd-help-icon, #wd-nav-bar-small #wd-account-icon {
    margin-left: -5px;
    margin-right: 20px;
    width: 30px;
}

#navbarToggleExternalContent, #courseNavToggleExternalContent {
    z-index:100;
    height: calc(100vh - 54px);
    max-height: 100vh !important;
}

#wd-sub-nav-list-small {
    padding: 20px;
}
